/* Header.css */
header {
    display: flex;
    width:90vw;
    justify-content:center;
    align-items: right;
    background-color: gray;
    color: white;
    padding: 1rem 2rem;
    font-size: larger;
    font-weight: bolder;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navigation li {
    margin: 0 1rem;
  }
  
  .navigation a {
    color: white;
    text-decoration: none;
  }
  
  .navigation a:hover {
    text-decoration: underline;
  }
  